header{
    background-color: rgb(1, 1, 40);
}

.d-item{
    height: 280px;
}
   
.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.intro{
    text-align: justify;
   }

.contacto{
    text-align:center;
    color: white;
    background-color: rgb(1, 1, 40);
}

.turismo{
    text-align:center;
}

.img-fluid{
    width: 1350px;
    height: 180px;
}

.containerplan{
    margin-bottom: 5px;
    display: flex;
    gap: 20px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
